@{
    ViewData["Title"] = "Animals in Stock";
}

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-12">
            <label class="h3 text-white">Đang có trong kho hoặc bạn không có quyền</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <a asp-controller="Animal" asp-action="Index" class="btn btn-secondary">Trở lại</a>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="WareHouse" asp-action="Index" class="btn btn-primary">Đi đến kho</a>
        </div>
    </div>
</div>