@model DataAnimals.Models.DTO.LoginRequestDTO;

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    .login-form {
        max-width: 380px;
        margin: 50px auto;
        background-color: #343a40;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .login-form .form-group label {
            color: white;
            font-weight: bold;
        }

        .login-form .form-check-label {
            color: white;
        }

        .login-form .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .login-form .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .login-form .register-link {
            color: #007bff;
            text-decoration: none;
        }

            .login-form .register-link:hover {
                text-decoration: underline;
            }
</style>

<div class="login-form" style="margin-bottom:218px">
    <p class="text-warning"> @TempData["Wrong"]</p>
   
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input id="floatingPassword" asp-for="Password" type="password" class="form-control"/>
        </div>
        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" id="showPassword" onclick="togglePassword()">
            <label class="form-check-label" for="showPassword">
                Show Password
            </label>
        </div>
        <div class="d-flex flex-column mt-4">
            <button type="submit" class="btn btn-primary text-white mb-3">Login</button>
            <div class="text-center">
                <label class="text-white d-block mb-2">Don't have an account?</label>
                <a class="register-link" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </div>
    </form>
</div>

<script>
    function togglePassword() {
        var passwordField = document.getElementById("floatingPassword");
        var showPasswordCheckbox = document.getElementById("showPassword");

        if (showPasswordCheckbox.checked) {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>
