@model IEnumerable<DataAnimals.DTO.Warehouse.ACDto>

<h1 class="text-white">Danh sách chứa các loại vật</h1>
@if (Model != null)
{
    <table class="table table-striped table-bordered ">
        <thead class="text-white">
        <tr>
            <th scope="col">Tên động vật</th>
            <th scope="col">Tên loại</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-white">
                <td>@item.Animal_Name</td>
                <td>@item.Category_Name</td>
                    <td><a class="btn btn-danger" asp-controller="WareHouse" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h1>Không có dữ liệu</h1>
}